*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


html {
    
}

header{
    text-align: center;
    margin: 50px;
    padding: 0;
}

h1#head{
    font-size: 60px;
    font-family: sans-serif;
    color: blue;
}

h1#result{
    font-size: 40px;
    font-family: sans-serif;
    color: green;
    text-align: center;
    margin-bottom: 50px;
}

canvas{
    display: block;
    float:left;
    border: 2px solid black;
    background-color: white;
    text-align: center;
    
}

#game{
    position: relative;
    width: 640px;
    height: 320px;
    margin: 0 auto;
}

#grid{
    border: 2px solid black;
    position: relative;
    width: 312px;
    height: 312px;
    display: inline-block;
    float: left;
    border-radius: 3px;
    background-color: white;
}

#choices{
    position: relative;
    width: 318px;
    height: 318px;
    text-align: center;
    display: inline-block;
    float: right;
}


h2{
    text-align: center;
    font-size: 40px;
    color: aqua;
}

button{
    margin-top: 25px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    background-color: darkgoldenrod;
    color: white;
    border: 2px solid yellow;
    border-radius: 5px;
    
    -moz-box-shadow: 3px 3px 3px 1px rgba(100,100,100,0.5);
    -webkit-box-shadow: 3px 3px 1px 3px rgba(100,100,100,0.5);
    -ms-box-shadow: 3px 3px 3px 1px rgba(100,100,100,0.5);
    box-shadow: 3px 3px 3px 1px rgba(100,100,100,0.5);
}

canvas:hover{
    background-color: yellow;
}

button:hover{
    background-color: darkgreen;
}

#choices{
    font-size: 17px;
}

p{
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
    color: black;
}